/*hide the inputs/checkmarks*/
#WeTrustProductsBanner--check {
  display: none;
}

/*hide the WeTrustProductsBanner--product__list*/
.WeTrustProductsBanner--product__list {
  max-height: 0;
  overflow: hidden;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

/*show the WeTrustProductsBanner--product__list when checked*/
#WeTrustProductsBanner--check:checked ~ .WeTrustProductsBanner--product__list {
  max-height: 700px;
}

.WeTrustProductsBanner--arrow__up {
  display: none;
}

#WeTrustProductsBanner--check:checked
  ~ .WeTrustProductsBanner--title
  .WeTrustProductsBanner--arrow__up {
  display: block;
}

#WeTrustProductsBanner--check:checked
  ~ .WeTrustProductsBanner--title
  .WeTrustProductsBanner--arrow__down {
  display: none;
}

.WeTrustProductsBanner--arrow__up {
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;

  border-bottom: 6px solid #ffffff;
}

.WeTrustProductsBanner--arrow__down {
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;

  border-top: 6px solid #ffffff;
}

.WeTrustProductsBanner--title {
  position: relative;
  display: block;
  cursor: pointer;
  padding: 16px;
  font-family: ProximaNova;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 6px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.WeTrustProductsBanner--product__wrapper {
  flex-basis: 50%;
  max-width: 50%;
  padding: 16px;
  box-sizing: border-box;
}

.WeTrustProductsBanner--product__link {
  justify-content: center;
  align-items: center;
  display: flex;
  height: 40px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 4px;
  border: solid 1px #b1b1b1;
  box-sizing: border-box;
}

.WeTrustProductsBanner--product__link img {
  width: 100%;
  max-height: 16px;
}

.WeTrustProductsBanner {
  background-color: #222222;
}

@media only screen and (min-width: 700px) {
  .WeTrustProductsBanner--product__list {
    justify-content: center;
    display: flex;
    overflow: auto;
    max-height: initial;
  }

  .WeTrustProductsBanner--title {
    display: none;
  }

  .WeTrustProductsBanner--product__wrapper {
    padding: 0;
    flex-basis: auto;
  }

  .WeTrustProductsBanner--product__link {
    border: none;
  }

  .WeTrustProductsBanner--product__link img {
    max-height: 32px;
  }
}
